body {
  margin: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #fff;
}

/* hide elements */
#playerTurnP,
#resetDartPos,
#errorMessage,
#scoreContainerDiv {
  display: none;
}


canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 5vh;
  padding: 0 10px;
  background-color: white;
  position: relative;
}

.headpart {
  flex: 1;
}
.code {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
}
.exit button {
  border: 1px solid #3ED174;
  background: #81F3AB;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px 15px;
}
.exit button:hover {
  background: #3ED174;
}


.main-container {
  display: flex;
  height: 80vh;
}
.info-container {
  display: flex;
  height: 15vh;
  align-items: center;
}



.left-side {
  flex: 8;
  height: 100%;
  display: flex;
}
.right-side {
  flex: 2;
  height: 100%;
}
.start-btn {
  border: 1px solid #3ED174;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  padding: 25px 40px;
  margin: auto auto;
  font-size: 2rem;
  transition: 0.2s;
}
.start-btn:hover{
  background-color: #3ED174;
}

.throw-score-wrapper {
  border: 2px solid #81F3AB;
  padding: 5px;
  text-align: center;
  height:100%
}


.playerTurn-div {
  display: none; 
}


.resetDartPos {
  position: fixed;        
  top: 50%;              
  right: 20px;                 
  transform: translateY(-50%);
  border: 1px solid #3ED174;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  padding: 25px 40px;
  margin: auto auto;
  font-size: 1.5rem;
  transition: 0.2s;
}
.resetDartPos:hover{
  background-color: #3ED174;
}

.errorMessage {
  position: fixed;        
  top: 20%;   
  left: 30%;                            
  transform: translateY(-50%);
  border: 1px solid #3ED174;
  background: white;
  padding: 25px 40px;
  margin: auto auto;
}

.score-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.score-wrapper div {
  flex: 1;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #81F3AB;
  padding: 10px;
}


.mostRecentScoreSpan {
  font-size: 2rem;
  font-weight: bold;
  color: #3ED174;
}