body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}


.header-container{
  display: flex;
  height: 5vh;  
}

.main-container {
  display: flex;
  height: 80vh;
}
.info-container {
  display: flex;
  height: 15vh;
}



.left-side {
  background-color: lightblue;
  width: 20%;
}
.middle {
  width: 70%;
}
.right-side {
  background-color: lightblue;
  width: 10%;
}


.playerTurn-div {
  display: none; 
}
