<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shopStats.css') }}">
</head>
<body>
    <div class="header-container">
      <div class="headpart welcome">
        <p>Welcome {{ username }}!</p>
      </div>
      <div class="exit">
        <button class="home-btn" onclick="window.location.href='{{ url_for('home') }}'">Back to Home</button>
      </div>
    </div>
    <div class="main">
        <h1>Shop</h1>
        <p>Welcome to the shop!</p>
        <p>Balance: {{ dataToSend.currency }}</p>
        <form method="post" action="/shop">
            <table>
                <thead>
                    <tr>
                        <th>Tags</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in dataToSend.tags %}
                    <tr>
                        <td>{{ item.desc }}</td>
                        <td>{{ item.price }}</td>
                        {% if item.purchased == False %}
                        <td><button type="submit" name="{{item.itemID}}" class="buy-btn">Purchase!</button></td>
                        {% else %}
                        <td>Purchased</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>